<div class="container-fluid contactbar">
    <div class="justify-content-between container">
        +43 664 / 13 77 466
        |
        office@naturkosmetik-werkstatt.at
        |
        Mindestbestellwert € 20.- | Versandkostenfrei ab € 100.- (DE und EU-Lieferländer)</div>
</div>
<div class=" container">
    <nav class="navbar">
        <img class="navbar-brand" src="" alt="logo" />
        <ul class="nav">
            <li class="nav-item"> Home </li>
            <li class="nav-item"> Recipe </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <img src="" alt="inst" />
            </li>
            <li class="nav-item">
                <img src="" alt="telegram" />
            </li>
        </ul>
    </nav>
</div>

