<a href="#" (click)="onSelect()">
    <div class="card" style="width: 18rem;">
        <img src="assets/products/IMG_0147.JPG" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">💗</button>
                <button type="button" class="btn btn-secondary">🛒</button>
            </div>
        </div>
    </div>
</a>