<!-- <a class="text-no-deco" (click)="onSelect()">
    <div class="card " style="width: 18rem;">
        <img src="{{product?.attributes?.media.data[0].attributes.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product?.attributes?.name}}</h5>
            <p class="card-text">{{product?.attributes?.ingredient}}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn">💗</button>
                <button type="button" class="btn">🛒</button>
            </div>
        </div>
    </div>
</a> -->

<div>test</div>