<div class="">
    <ul class="list-group row">
      <li
        class="list-group-item col-xs-12"
        *ngFor="let img of productSelected?.img_arr">{{ img })</li>
    </ul>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ productSelected?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">Zur Einkaufsliste</button>
    <button class="btn btn-primary">Bearbeiten</button>
    <button class="btn btn-danger">Löschen</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{ productSelected?.functionality }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ productSelected?.ingredients }}</p>
    <p>{{ productSelected?.aroma }}</p>
    
  </div>
</div>