
.d-block-first {
    background: url("../../assets/products/bg1.jpeg") no-repeat fixed center;
    background-size: contain;
    height: 400px;
}

.d-block-second {
    background: url("../../assets/products/bg4.jpeg") no-repeat fixed center;
    background-size: contain;
    height: 400px;
}

.d-block-third {
    background: url("../../assets/products/bg3.jpeg") no-repeat fixed center;
    background-size: contain;
    height: 400px;
}