
<img src="" alt="" class="img-fluid">

<div class="carousel">
    <div class="bubbles"></div>

    <div class="slides">
      <img src="assets/seife.jpg" alt="slide image" class="slide">
      <!--<img src="https://picsum.photos/1280/720?random=2" alt="slide image" class="slide">
      <img src="https://picsum.photos/1280/720?random=3" alt="slide image" class="slide">-->
    </div>
    <div class="controls">
      <div class="control prev-slide">&#9668;</div>
      <div class="control next-slide">&#9658;</div>
    </div>
  </div>