<!-- <img src="" alt="" class="img-fluid"> -->
<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block-first w-100" ></div>
    </div>
    <div class="carousel-item">
      <div class="d-block-second w-100" ></div>
    </div>
    <div class="carousel-item">
      <div class="d-block-third w-100" ></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" onclick="console.log('click')">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5 mb-5" [ngStyle]="{textAlign:'center'}">
  <div class="row">
    <div class="col-sm">
      <h3>Natural Handseife</h3>
      One of three columns. One of three columns. One of three columns. One of three columns. One of three columns. One of three columns. One of three columns. One of three columns. 
    </div>
  </div>
</div>